.flexContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.outerContainer {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* .column {
  height: fit-content;
  width: fit-content;
} */
