/* .main-div {
  padding: 0;
  margin: 0;
  width: max-content;
  height: max-content;
  background-color: #2a3e78;
  margin-left: 3em;
  margin-top: 2em;
}
 */

* {
  /* outline: red 1px solid; */
}

.outline {
  /* outline: red 1px solid; */
}

.send-message-btn {
  border-style: none;
  border-radius: 5px;
  background-color: orange;
  color: black;
  padding: 0.3rem;
}

.hover-up,
.hover-bg,
.hover-scale {
  transition: all 0.3s ease;
}

.hover-bg:hover {
  background-color: #f5f5f5;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.hover-up:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.hover-scale:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.card {
  opacity: 0;
  transform: translateY(20px);
  animation: card-entrance 0.6s forwards ease-out;
  /* border: 1px solid rgba(0, 0, 0, 0.175) !important; */
  /* border: 1px solid rgba(173, 173, 173, 0.1); */
}

.custom-icon {
  font-size: 24px;
  cursor: pointer;
  color: rgb(35, 87, 220);
}

.spin-animation {
  animation: spin 0.5s linear;
}

.spin-animation-rev {
  animation: spin-rev 0.5s linear;
}

.fade-in {
  animation: fade-in 0.7s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* transform: scale(1); */
  }

  100% {
    /* transform: scale(1); */
    transform: rotate(180deg);
  }
}

@keyframes spin-rev {
  0% {
    transform: rotate(0deg);
    /* transform: scale(1); */
  }

  100% {
    /* transform: scale(1); */
    transform: rotate(-180deg);
  }
}

@keyframes card-entrance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    transform: translateY(0);
  }
}

.senderBubble,
.receiverBubble {
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  /* width: fit-content; */

  /* max-width: 20rem; */
  max-width: 60%;

}

.timestamp {
  font-size: 0.7rem;
  color: black;
}

.senderBubble {
  background-color: #2196f3;
  justify-content: center;
  color: white;
  align-items: flex-end;
}

.receiverBubble {
  background-color: #e0e0e0;
  justify-content: center;
}

.glass-container {
  backdrop-filter: blur(5px) brightness(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
}


.glass-icon-container {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px) brightness(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.icon {
  font-size: 18px;
  color: black;
  /* box-shadow: 0 6px 8px rgb(0, 0, 0); */
  /* border: solid; */
  /* border-color: black; */
}

.glass-icon-container:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.cursor-pointer:hover {
  cursor: pointer;
}